.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 50%;
  background-color: white;
  display: flex;
  gap: 20px;
  align-items: center;
}
